* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

h1 {
    color: black;
    text-align: center;
    padding-top: 1.5rem ;

    width: 100%;
    height: 10%;
}

.toggle__box, .selection__box {
    width: 90%;
    height: 10%;
    margin: 1rem auto;

    background-color: lightblue;
    border-radius: 0.6rem ;
}   

p, .btn, .selection__box {
    color: blue;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: start;

    padding: 1rem;
}

div.destination__container-list {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: flex-start;  
}

.btn {
    width: 30%;
    float: right;
    margin-top: 2rem;
    margin-right: 4rem;
    color: blue;
    background-color: lightblue;
    border-radius: 0.6rem;
    text-align: center;
}

.hide {
    display: none;
}

.btn:hover {
    background-color: blue;
    color: lightblue;
}

ul {
    width: 90%;
    margin-top: 1rem ;
    border: 0.09rem solid gray;
    border-radius: 5px;
}

li:last-of-type {
    border-bottom: none;
}


li {
    list-style: none;
    padding: 1rem;
    
    border-bottom: 0.09rem solid gray;
    font-size: 1.5rem; 
}

li:hover {
    cursor: pointer;
    background-color: lightblue;
}



